*{margin:0;padding:0}
body{font-family:"Microsoft YaHei","Arial Narrow",HELVETICA;background:#fff;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}input,select{font-size:12px;line-height:16px;}img{border:0;}ul,li{list-style-type:none;}


ul li{
    width:150px;
    float: left;
    border:1px dashed #8b8b8b;
    text-align: center;
    padding-bottom: -20px;
}

#hidden-when-print{
    display: none;
}

h1{
    font-size:18px;
    padding-bottom:10px;
    height:18px;
}

.stu_info{
    font-size:15px;
    font-weight:bolder;
}

.stu_info span{
    font-size:10px;
}