<div id="warning_not_found">
    <input name="keyword" id="keyword" type="text" onkeyup="monitorKeyword();" class="hidden-input"></input>
    <%=image_tag "warning_not_found.jpg" -%>
</div>
<div id="panel">
  <a href="/"><img src="/images/back.jpg"  alt="返回"/></a>
</div>



